.logo {
    font-family: "Abril Fatface" !important;
    font-size: 18px;
    /* background: url(theme/footer-bg.jpg?1501255425) repeat ; */
}
.navbar-brand{
    font-size: 1.95rem;
}
.navigation {
    font-family: "Abril Fatface" !important;
    font-size: 14px;
    /* background: url(theme/footer-bg.jpg?1501255425) repeat ; */
}
.navbar-light .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 1);
}
.bg-dark{
    background-color: rgba(45, 81, 163, 0.98) !important;
}
.navigation ul{
    /* margin-left: 10%; */
    text-align: center;
    margin: auto;
}
nav li{

    padding: 0 12px;
    font-size: 1.8em;
}
.social a{
    color: rgba(45, 81, 163, 0.98);
}
.container-fluid{
    padding: 0 !important;
}
.container{
    max-width: 1280px;
}
.title{
    font-size: 2.2em;
}
.textbox p{
    font-size: 1.5em;
}
footer{
    padding-bottom: 2px;
    background-color:rgba(45, 81, 163, 0.98) !important;
}
footer .container{
    max-width: 960px;
}
footer a{
    color: rgba(255, 255, 255, 1);
}
footer a:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, .80);
}
.modal-content{
    background-color: rgba(255, 255, 255, 0) !important;
    border: none !important;
}
.modal-header{
    border-bottom: none !important;
}
.modal-dialog{
    max-width: 650px !important;
}
.policy ul{
    list-style: none !important;
}
